header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header li {
    display: inline-block;
}

header li a {
    padding: 12px 16px;
    font-size: 14px;
    text-decoration: none;
    color: #c3c3c3;
    cursor: pointer;
}

header li #mails:hover {
    color: #EA4335;
}

header li #photos:hover {
    color: #4285F4;
}

header li #drives:hover {
    color: #FBBC05;
}

header li #notes:hover {
    color: #34A853;
}



body {
    background-image: url("/GgPhotos/Capture2.PNG");
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding: 5px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


svg {
    margin: -50px 0px -100px 0px;
}


h1 {
    margin-top: 45px;
    margin-right: -335px;
    font-weight: 10;
    font-size: 25px;
    color: rgb(141, 140, 140);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h2 {
    font-weight: 10;
    font-size: 25px;
    color: darkgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer {
    padding: 12px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #868686;
    font-size: 12px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
}

footer li a {
    padding: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #C3C3C3;
}

footer li #home:hover {
    color: #EA4335;
}

footer li #about:hover {
    color: #4285F4;
}

footer li #devs:hover {
    color: #FBBC05;
}

footer p {
    color: #34A853;
}

section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: aliceblue;
    font-size: 17px;
    font-weight: 400;
    padding: 20px 0px 40% 0px;
    margin: auto;
    overflow: auto;
    border-radius: 5px;
    border: 1px solid black;
}


#mail {
    background-color: aliceblue;
    flex: 3;
}

#mailTag {
    border-radius: 7px;
    padding: 10px 0px 10px 0px;
    margin: 0px 20px 0px 20px;
    background-color: #EA4335;

}

#image {
    background-color: aliceblue;
    flex: 3;
}

#imgTag {
    background-color: #4285F4;
    border-radius: 7px;
    padding: 10px 0px 10px 0px;
    margin: 0px 20px 0px 20px;
}

#drive {
    background-color: aliceblue;
    flex: 2.5;
}

#dveTag {
    background-color: #FBBC05;
    border-radius: 7px;
    padding: 10px 0px 10px 0px;
    margin: 0px 20px 0px 20px;
}

#note {
    flex: 2.5;
    background-color: aliceblue;
}

#noteTag {
    background-color: #34A853;
    border-radius: 7px;
    padding: 10px 0px 10px 0px;
    margin: 0px 20px 0px 20px;
}


@media screen and (max-width: 480px) {
    footer {
        padding: 30px 0 10px 0;
    }

    footer li {
        display: block;
        margin: 5px 0;
    }

}

main {
    display: flex;
}


/*#srch {
    padding: 30px 0px 30px 0px;
}

input[type=text] {
    padding: 10px 0px 10px 7px;
    width: 70px;
    border-radius: 15px;
}

input {
    background-color: white;
    border: none;
    border-radius: 44px;
    color: black;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: 0;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
}

input[type="search"] {
    appearance: auto;
    box-sizing: border-box;
    padding: 1px 2px;
}*/